<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <div class="header col-xs-12 col-sm-6 pad_box">
        <h2 class="content_heading">English Fill-in Test</h2>
        <p class="content_lead">
          ダミーテキストダミーテキストダミーテキスト
        </p>
      </div>
      <div class="col-xs-12 col-sm-6 pad_box">
        <h3>Lesson1</h3>
        <a href="" class="btn btn-danger">START</a>
      </div>
    </div>
    <!-- /.col-xs-12 col-md-10 col-md-offset-1 -->
  </div>
  <!-- /.row -->
</div>
<!-- /.container -->
