
<!-- 実行済みレッスン -->
<li class="lesson_complete">
  <div class="lesson_status">
    <span class="fa-stack fa-lg">
      <i class="fa fa-circle fa-stack-2x bg"></i>
      <i class="fa fa-check fa-stack-1x icon"></i>
    </span>
  </div>
  <div class="lesson_title">
    <h4>LessonTitle</h4>
  </div>
  <div class="lesson_archive">
    <i class="fa fa-trophy fa-2x"></i>
  </div>
</li>

<!-- 実行可能レッスン -->
<li class="lesson_active">
  <div class="lesson_status">
    <span class="fa-stack fa-lg">
      <i class="fa fa-square fa-stack-2x bg"></i>
      <i class="fa fa-pencil fa-stack-1x icon"></i>
    </span>
  </div>
  <div class="lesson_title">
    <h4>Lesson2</h4>
  </div>
  <div class="lesson_archive">
    <i class="fa fa-trophy fa-2x"></i>
  </div>
</li>

<!-- 実行不可レッスン -->
<li class="lesson_locked">
  <div class="lesson_status">
    <span class="fa-stack fa-lg fa-stack-locked">
      <i class="fa fa-circle fa-stack-2x bg"></i>
      <i class="fa fa-lock fa-stack-1x icon"></i>
    </span>
  </div>
  <div class="lesson_title">
    <h4>Lesson3</h4>
  </div>
  <div class="lesson_archive">
    <i class="fa fa-trophy fa-2x"></i>
  </div>
</li>
